
body {
  margin: 0;
  
}


.banner-img {
  height: 300px;
}


.img-carrousell {
  width: 200px;
  height: 200px;
  
}

.img-card {
  width: 200px;
  height: 200px;
  border-radius: 17%;
 background-color: rgb(136, 136, 136);
}